<div class="reserve-edit">
    <div class="inner-box">

      <div class="exit-section d-flex flex-start flex-row">
        <a href="profile-default.html">
          <button class="btn btn-danger my-3" type="button" name="button">Exit Reservation Editor</button>
        </a>
      </div>
      <h1>Reservation Editor</h1>
        <div class="inner-box-table">
            <table>
                <thead>
                  <tr>

                      <th class="header tc">Reservation ID</th>
                      <th class="header tc"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>

                      <td class="tc">23155</td>
                      <td class="tc">

                        <a href="profile-edit-reservations-room.html">
                          <button class="view-button mx-5">View</button>

                        </a>
                        <button class="btn btn-danger my-1 mx-2">Cancel Reservation</button>

                      </td>
                  </tr>
                  <tr>

                    <td class="tc">78351</td>
                    <td class="tc">
                      <a href="profile-edit-reservations-room.html">
                        <button class="view-button mx-5">View</button>

                      </a>
                      <button class="btn btn-danger my-1 mx-2">Cancel Reservation</button>
                    </td>
                  </tr>
                  <tr>

                    <td class="tc">32142</td>
                    <td class="tc">
                      <a href="profile-edit-reservations-room.html">
                        <button class="view-button mx-5">View</button>

                      </a>
                      <button class="btn btn-danger my-1 mx-2">Cancel Reservation</button>
                    </td>
                  </tr>
                  <tr>

                    <td class="tc">12411</td>
                    <td class="tc">
                      <a href="profile-edit-reservations-room.html">
                        <button class="view-button mx-5">View</button>

                      </a>
                      <button class="btn btn-danger my-1 mx-2">Cancel Reservation</button>
                    </td>
                  </tr>
                  <tr>

                    <td class="tc">94523</td>
                    <td class="tc">
                      <a href="profile-edit-reservations-room.html">
                        <button class="view-button mx-5">View</button>

                      </a>
                      <button class="btn btn-danger my-1 mx-2">Cancel Reservation</button>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
