
    <section class="lab-slots-browse-section">

      <div class="filter-section">

        <div class="d-flex filter-part-1">
          <div class="d-flex filter-part-1 align-items-center">

            <h2 class="label-custom-1">Search Name: </h2>
            <div class="d-flex align-items-center mx-3">
              <input type="text" name="" value="">
            </div>

          </div>
          <div class="d-flex flex-column filter-part-1">
            <h2 class="label-custom-1">Date: </h2>



            <select class="form-control-input-date" id="inputRoom">

            </select>

            <h2 class="label-custom-1">Room Type: </h2>
            <select class="form-control-input-room" id="inputRoom">
              <option value="room1">Any</option>
              <option value="room1">GK2</option>
              <option value="room2">GK3</option>
              <option value="room3">GK4</option>
            </select>


          </div>



          <div class="d-flex flex-column filter-part-1">
            <h2 class="label-custom-1" name="dropdownFrom">From: </h2>
            <select class="form-control-1" id="fromTime"></select>
            <h2 class="label-custom-1" name="dropdownTo">To: </h2>
            <select class="form-control-2" id="toTime"></select>
          </div>
          <div class="d-flex flex-column filter-part-2">
            <button class="custom-button-6 mx-5" type="button" name="button">Filter</button>
          </div>



        </div>




      </div>
      <div class="lab-choices-section">

          {{#each rooms}}
          <div class="lab-choice-section">
            <img class="lab-choice-img" src="/pics/computerlab.jpg" alt="computer-lab">
            <div class="lab-choice-details">
              <h3>{{labName}}</h3>
              <p class="status-text avail-text"><u>AVAILABLE</u></p>
              <p>
                <span>Total Seats: </span>
                <span><strong>{{labAvailSlots}}/{{labTotalSlots}}</strong></span>
              </p>
              <a class="d-flex lab-choice-btn custom-default-font2" href="reserve-user-lab-view.html">
                <div class="btn btn-success" id="view-btn-{{labName}}">
                  View
                </div>
              </a>
            </div>
          </div>
          {{/each}}
          

          <div class="arrows-section">
            <button class="arrow-button">&larr;</button>  Page 1<button class="arrow-button right-arrow">&rarr;</button>
          </div>
      </div>



    </section>
