

    <section class="lab-slots-browse-section">

      <div class="d-flex flex-column filter-section">
        <div class="filter-section">

          <div class="d-flex filter-part-1">
            <div class="d-flex filter-part-1 align-items-center">

              <h2 class="label-custom-1">Search Name: </h2>
              <div class="d-flex align-items-center mx-3">
                <input type="text" id="search-lab-msg-txt" >
                <button id="search-lab-msg-btn">Filter</button>
              </div>

            </div>



          </div>




        </div>

        <div class="lab-choices-section">

        </div>
      </div>
      <br>





    </section>
