body{

  padding: 0;
  margin: 0;
  background-image: url("pics/home-bg-pic.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}
.font-white{
  color: white;
}

.reg-data{
  padding: 5px;
}

.reg-row-data{
  background-color: rgba(71, 79, 122,0.4);
  border-radius: 10%

}

.emphasize-text{
  font-family: "Bree Serif";
  font-size: 1.5rem;
}

.home-form-table{
  padding: 40px;
}

.home-form-fields{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.website-titlebar{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}
.website-title{

  font-family: "Bree Serif";
  font-size: 4rem;

}

.form-sections{
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box{

  width: 35rem;
  height: 35rem;
  margin: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;

}

.login-form-box{
  height: 30rem;
}

.monts-font{
  font-family: "Montserrat";
  font-weight: 700;
}

.x5-white{
  color: #ffffff;
  font-size: 3rem;
}
