.profile-contact-section{
  width: 25%;
  border-right: 5px solid #12372A;
  padding-right:10px;
  justify-content:flex-start;

  display: flex;


}
.profile-main-section{
  padding: 20px;
  width: 75%;
}

.contact-info-div{
  width: 70%;

}

.profile-body{
  display: flex;
  margin-left: 20px;
  width: 100%;


}



.profile-pic-and-name{
  margin: 0 auto;
  display: inline-block;
  text-align: center;



}
.custom-header1
{
  font-family: "Ubuntu";
  color:#ADBC9F;
}
p{
  font-family: "Montserrat";
}
.profile-name{
  color: #436850;
}
.contact-info-div{
  width:100%;
}

.contact-title{
  width: 100%;
  text-align: center;
  color:#12372A;
  font-size: 1.5rem;
  font-weight: bold;
}
.contact-table{
  width: 100%;

}

.description-div{
  padding: 50px;
  width: 60%;
  height: 300px;
  background-color:  #436850;

}
.description-div
{
  color: white;
}
.reservation-next-days{
  justify-content: center;
  align-items: center;
}

.day-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.day {
  width: calc(100% / 7);
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.format-date{
  color: #FBFADA;
  background-color: #12372A;

}
body {
  font-family: 'Arial', sans-serif;
  display: flex;
}