<div id="chatbox" onclick="playMusic()">
  <div id="chatlist">
    <h1 class="d-flex justify-content-center">Notifications</h1>
    <div class="chatbox-container" onclick="changeTab('chatlist','direct-message')">
      <div class="chatbox-profilePic">
        <img src="https://static.wikia.nocookie.net/vgost/images/5/56/Rick_Astley.jpg/revision/latest?cb=20220705002743" class="profile-pic">
      </div>
      <div class="chatbox-chatContainer">
        <div class="chatbox-chatname">
          Rick Astley
        </div>
        <div class="chatbox-chat">
          Never Gonna Give You Up...
        </div>
      </div>
    </div>

    <div class="chatbox-container">
      <div class="chatbox-profilePic">
        <img src="https://miro.medium.com/v2/resize:fit:698/1*0jjdu52m0MO4SjLWiCVOlg.jpeg" class="profile-pic">
      </div>
      <div class="chatbox-chatContainer">
        <div class="chatbox-chatname">
          Hatsune Miku
        </div>
        <div class="chatbox-chat">
          ミクだよ！ミクだよ！ミ...
        </div>
      </div>
    </div>

    <div class="chatbox-container">
      <div class="chatbox-profilePic">
        <img src="https://i.pinimg.com/736x/d3/33/28/d3332868c128f24285865d56db9dadc7.jpg" class="profile-pic">
      </div>
      <div class="chatbox-chatContainer">
        <div class="chatbox-chatname">
          Silverwolf
        </div>
        <div class="chatbox-chat">
          POT 6 LEE, NOT EVEN Mł...
        </div>
      </div>
    </div>

    <div class="chatbox-container">
      <div class="chatbox-profilePic">
        <img src="https://media.discordapp.net/attachments/1077880234554167357/1206829856860536882/Chain.png?ex=65dd6ee3&is=65caf9e3&hm=8673ec6729bb00b818251fa81f9764c19e177693d6f3e2ade7c0aba774a97c05&=&format=webp&quality=lossless&width=658&height=676" class="profile-pic">
      </div>
      <div class="chatbox-chatContainer">
        <div class="chatbox-chatname">
          Joaquin Miguel Sinjian
        </div>
        <div class="chatbox-chat">
          Bro, STADVDB needs CSMO...
        </div>
      </div>
    </div>

    <div class="chatbox-container">
      <div class="chatbox-profilePic">
        <img src="https://pbs.twimg.com/media/FtHR_xEXoAQS1Hl?format=jpg&name=large" class="profile-pic">
      </div>
      <div class="chatbox-chatContainer">
        <div class="chatbox-chatname">
          Majima Gorou
        </div>
        <div class="chatbox-chat">
          桐生ーちゃんわどこ？！！
        </div>
      </div>
    </div>

    <div class="chatbox-container">
      <div class="chatbox-profilePic">
        <img src="https://media.tenor.com/EzdIBaQtr0YAAAAM/fnaf-superidol-epic-gaming.gif" class="profile-pic">
      </div>
      <div class="chatbox-chatContainer">
        <div class="chatbox-chatname">
          De Xian Rong
        </div>
        <div class="chatbox-chat">
          Super idol 的笑容都没...
        </div>
      </div>
    </div>

    <div class="chatbox-container">
      <div class="chatbox-profilePic">
        <img src="https://media.discordapp.net/attachments/1077880234554167357/1206834071075037224/image.png?ex=65dd72d0&is=65cafdd0&hm=57241974c0a3ede7a8939d3d51d84aa32e32dbe25ec5d008a53a1788581cf070&=&format=webp&quality=lossless" class="profile-pic">
      </div>
      <div class="chatbox-chatContainer">
        <div class="chatbox-chatname">
          Enzo Arkin Panugayan
        </div>
        <div class="chatbox-chat">
          KITCHEN GUN? I BOUGH...
        </div>
      </div>
    </div>
  </div>

  <div id="direct-message">
    <div class="direct-message-header">
        <div class="direct-message-header-pic">
          <img src="https://static.wikia.nocookie.net/vgost/images/5/56/Rick_Astley.jpg/revision/latest?cb=20220705002743" class="direct-message-item">
        </div>
        <div class="direct-message-header-name">
          Rick Astley
        </div>
        <div class="direct-message-header-exit" onclick="changeTab('direct-message','chatlist')">
          <img src="https://banner2.cleanpng.com/20180426/bae/kisspng-x-mark-computer-icons-check-mark-clip-art-5ae1aac8182a71.821442211524738760099.jpg" class="direct-message-item">
        </div>
    </div>
    <div class="direct-message-body">
        <div class="direct-message-recieve">
          <div class="direct-message-body-pic">
            <img src="https://static.wikia.nocookie.net/vgost/images/5/56/Rick_Astley.jpg/revision/latest?cb=20220705002743" class="direct-message-item">
          </div>
          <div class="direct-message-body-message">
            Never Gonna Give You Up
          </div>

        </div>
    </div>
    <div class="direct-message-footer">
        <input type="type">
    </div>
  </div>

  <audio id="audio" src="/audio/musicChat.mp3" style="display: flex"></audio>
</div>
