<div id="chatbox">
  <div id="chatlist">
    <h1 class="d-flex justify-content-center">Notifications</h1>
    
    {{#each rooms as |room|}}
      <div class="chatbox-container" id="chatbox-container{{@index}}" name="{{room.roomID}}">
        <div class="chatbox-profilePic">
          <img src="{{roomPic}}" class="profile-pic">
        </div>
        <div class="chatbox-chatContainer">
          <div class="chatbox-chatname">
            {{room.roomName}}
          </div>
          <div class="chatbox-chat">
            message placeholder
          </div>
        </div>
      </div>
    {{/each}}
  

  <div id="direct-message">
      <div class="direct-message-header">
          <div class="direct-message-header-pic">
            
          </div>
          <div class="direct-message-header-name">
            
          </div>
          <div class="direct-message-header-exit">
            <img src="https://banner2.cleanpng.com/20180426/bae/kisspng-x-mark-computer-icons-check-mark-clip-art-5ae1aac8182a71.821442211524738760099.jpg" class="direct-message-item">
          </div>
      </div>

      <div class="direct-message-body">
        
      </div>

      <div class="direct-message-footer">
          <input id="direct-message-type" type="type">
          <button id="direct-message-type-send">Send</button>
      </div>

    </div>
  </div>
</div>
