<div id="chatbox">
  <div id="chatlist">
    <h1 class="d-flex justify-content-center">Notifications</h1>
    
    {{#each rooms as |room|}}
      <div class="chatbox-container" id="chatbox-container{{@index}}" name="{{room.roomID}}">
        <div class="chatbox-profilePic">
          <img src="{{roomPic}}" class="profile-pic">
        </div>
        <div class="chatbox-chatContainer">
          <div class="chatbox-chatname">
            {{room.roomName}}
          </div>
          <div class="chatbox-chat">
            message placeholder
          </div>
        </div>
      </div>
    {{/each}}
  
  </div>
</div>
